from typing import TYPE_CHECKING

if TYPE_CHECKING:
    from mypy_boto3_{{ service }} import (
        {% for item in client_types %}
        {{ item }},
        {% endfor %}
    )
    from mypy_boto3_{{ service }}.service_resource import (
        {% for item in resource_types %}
        {{ item }},
        {% endfor %}
    )
else:
    from beartype.vale import IsAttr, IsEqual
    from boto3.resources.base import ServiceResource
    from boto3.resources.collection import ResourceCollection
    from botocore.client import BaseClient
    from botocore.paginate import Paginator
    from botocore.waiter import Waiter

    from bearboto3 import Annotated

    {% for item in annotations %}
    {{ item["stub_class"] }} = Annotated[{{ item["base_class"] }}, IsAttr["__class__", IsAttr["__name__", IsEqual["{{ item['boto_class'] }}"]]]]
    {% endfor %}
