# ============================
# {{ stub_class }}
# ============================


def test_{{ snake_name }}_arg_pass({{ pass_fixture }}):
    @beartype
    def func(param: {{ stub_class }}):
        pass

    func({{ pass_fixture }})


def test_{{ snake_name }}_arg_fail({{ fail_fixture }}):
    with pytest.raises(BeartypeCallHintPepParamException):

        @beartype
        def func(param: {{ stub_class }}):
            pass

        func({{ fail_fixture }})


def test_{{ snake_name }}_return_pass({{ pass_fixture }}):
    @beartype
    def func() -> {{ stub_class }}:
        return {{ pass_fixture }}

    result = func()


def test_{{ snake_name }}_return_fail({{ fail_fixture }}):
    with pytest.raises(
        (BeartypeCallHintPepReturnException, BeartypeDecorHintPep484585Exception)
    ):

        @beartype
        def func() -> {{ stub_class }}:
            return {{ fail_fixture }}

        result = func()
